doctype html
html
  head
    title About Us - Job Portal
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")

  body
    include navbar

    .container.mt-5
      .row.justify-content-center.text-center
        .col-md-8
          h1.text-primary About Job Portal
          p.lead We connect job seekers with top employers, making job hunting easy and efficient.

      .row.mt-4
        .col-md-6
          img.img-fluid.rounded.shadow-lg(src="https://5.imimg.com/data5/SELLER/Default/2023/9/346874658/EY/OD/KK/180056056/job-portal-service-500x500.jpg" alt="About Job Portal")
        .col-md-6
          h3 Our Mission
          p We aim to provide a seamless platform where job seekers can find their dream jobs and employers can connect with the right talent.
          
          h3 Our Vision
          p To be the most trusted and efficient job marketplace that bridges the gap between employers and job seekers.

      .row.mt-5.text-center
        .col-md-4
          i.bi.bi-people-fill.fs-1.text-primary
          h4.mt-3 Trusted by Thousands
          p We have helped thousands of job seekers find their perfect jobs.

        .col-md-4
          i.bi.bi-building-fill.fs-1.text-success
          h4.mt-3 Hundreds of Companies
          p Partnered with leading companies worldwide.

        .col-md-4
          i.bi.bi-award-fill.fs-1.text-warning
          h4.mt-3 Excellence in Job Matching
          p Ensuring the best match between candidates and employers.

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
